#u69
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u69_align_to_page,#u411
{
	position: relative;
}

#u404-6
{
	text-align: left;
	letter-spacing: 2px;
	color: #434343;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u397-4
{
	text-align: center;
	line-height: 14px;
	color: #B4B4B4;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

